# OS (should be in global .gitignore)
.DS_Store

# Binaries

build/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
target/
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*

# IDE
.idea
.idea/*
.classpath
.project
.target/
.cache
logs/*
.settings/

# Misc
checkpointDir/
